@using BlazorComponents.ViewModel
@inherits MvvmComponentBase<GameViewModel>

<h3>Cookie Clicker</h3>

<div>
    <button @onclick="@BindingContext.TogglePause">
        @if (BindingContext.IsRunning)
        {
            <p>Running</p>
        }
        else
        {
            <p>Paused</p>
        }
    </button>
    <label>
        Time Elapsed:
            @Bind(vm => vm.TimeElapsed)
    </label>
</div>
<br/>
<div>
    <CookieClicker />
    <HotDogClicker />

</div>